* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #000;
    color: #fff;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar .logo img {
    width: 150px; /* Ajuste o tamanho da logo */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 20px;
}

.sidebar nav {
    flex-grow: 1;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.menu-item i {
    margin-right: 10px;
}

.menu-item:hover {
    background-color: #333;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
}

.header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.header h2 {
    font-size: 24px;
}

.actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions input[type="text"],
.actions input[type="search"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-button, .remove-button, .edit-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.remove-button {
    background-color: #FF0000;
}

.edit-button {
    background-color: #FFA500;
}

.add-button i, .remove-button i, .edit-button i {
    margin-right: 5px;
}

.table-section {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 15px;
    border: 1px solid #ccc;
    text-align: left;
}

thead {
    background-color: #f7f7f7;
}
