* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #002b80;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.finalizar-compra {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.produtos, .detalhes-pagamento, .valor-total {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

select {
    height: 45px;
}

.valor-total p {
    font-size: 1.5em;
    font-weight: bold;
    color: #002b80;
}

#product-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
}

.botoes {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.voltar {
    background-color: #61b2ff;
}

.finalizar {
    background-color: #53d3aa;
}

button:hover {
    opacity: 0.9;
}

/* Hover effects for better interactivity */
input:focus, select:focus {
    border-color: #002b80;
    box-shadow: 0px 0px 5px rgba(0, 43, 128, 0.3);
    outline: none;
}
